input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  background: lightslategray;
  color: whitesmoke;
  font-size: 1.2em;
}
#delete {
  width: 5px;
  height: 5px;
  cursor: pointer;
  border: 0;
}
#add {
  /* border: 3px solid gray; */
  border-radius: 3px;
  cursor: pointer;
  width: 7%;
  margin-left: 10px;
}
button:focus ,input:focus {
  outline: 0;
}
